/* banner */
.banner {
  width: 100%;
}

.banner picture {
  display: block;
  width: 100%;
}

.banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner a {
  display: block;
  width: 100%;
}

@media(min-width: 1400px) {
  .banner picture {
    height: 85vh;
  }

  .banner img {
    object-position: bottom;
  }
}